@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
	--doc-height: 100%;
}

@layer base {
	.rotate-xy-180 {
		transform: rotateY(10deg) rotateX(90deg);
	}
	.-rotate-xy-180 {
		transform: rotateY(10deg) rotateX(-90deg);
	}
	.btn {
		@apply gap-1.5 items-center cursor-pointer text-sm rounded-md inline-flex transition-all hover:bg-gray-900 hover:bg-opacity-5 p-1.5;
	}
	.btn-secondary {
		@apply btn;
	}
	.btn-primary {
		@apply btn bg-theme-dark font-bold text-orange-100 hover:bg-theme-dark hover:bg-opacity-95;
	}
	.height-actual-screen {
		height: var(--doc-height);
	}
}

* {
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	font-size: 18px;
	height: var(--doc-height);
	padding: 0;
	margin: 0;
	outline: none;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#__next {
	height: var(--doc-height);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
